truncate table  app                      ;
truncate table  appnamespace             ;
truncate table  authorities              ;
truncate table  consumer                 ;
truncate table  consumeraudit            ;
truncate table  consumerrole             ;
truncate table  consumertoken            ;
truncate table  favorite                 ;
truncate table  permission               ;
truncate table  role                     ;
truncate table  rolepermission           ;
truncate table  serverconfig             ;
truncate table  userrole                 ;
truncate table  users                    ;
